    <div class="konsultacia visible-lg visible-md">
        <div class="container">
            <span class="null"></span>
            <h2>{{ text|default("") }}</h2>
            <a href="#forma_zvonok" bs-form-description="Отправленно из блока 'Консультация'" class="btn-podrobnee fancybox">{{ button|default("") }}</a>
        </div>
    </div>