<div class="home_image container">
    <div><p>Сайт-визитка<span>Быстрый старт бизнеса в Интернете</span><span>от <span>4 995</span> руб.</span>
        </p><a href="{{path('vizitka_page')}}" title="Сайт-визитка" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="vizitka">Узнать подробности</a></div>
    <div><p>Landing Page<span>Поток клиентов гарантирован</span><span>от <span>9 900</span> руб.</span></p><a
                href="{{path('landing_page')}}" title="Landing Page" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="landing">Узнать подробности</a></div>
    <div><p>Корпоративный сайт<span>Представьте свою компанию всему миру</span><span>от <span>21 910</span> руб.</span>
        </p><a href="{{path('corp_page')}}" title="Корпоративный сайт" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="corp">Узнать подробности</a></div>
    <div><p>Интернет-магазин<span>Онлайн продажи доступны</span><span>от <span>9 995</span> руб.</span></p><a
                href="{{path('shop_page')}}" title="Интернет-магазин" class="btn-podrobnee fancybox" bs-type="getConsult" bs-val="shop">Узнать подробности</a></div>
</div>