
<div class="banner banner_clouds" style="background: #B4C8D7  url({{ asset('assets/img/clouds.png')|imagine_filter('clouds_slider') }}) top no-repeat;"> 
    <div class="banner_content"></div>
</div>