<div class="banner banner_domains-and-hosting banner_big" style="background: #B4C8D7  url({{ asset('assets/img/banners/domains-and-hosting_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Хостинг <span class="red">&</span> Домены</h2>

            <p><span class="red">Домен</span> - имя Вашего сайта в Интернете по которому он доступен.
                Например,www.ваше_имя.ru </p>

            <p><span class="red">Хостинг</span> - это услуга по предоставлению свободного пространства на
                жестком диске сервера для размещения Вашего сайта в Интернете. </p>

            <p>Мы предоставляем услуги по регистрации доменных имен, а также услуги аренды сервера по
                привлекательным ценам с различной конфигурацией. </p>

            <p>Мы подобрали для Вас тарифы, которые могут удовлетворить потребностям любого клиента! Если Вы не
                подобрали для себя нужную конфигурацию, мы поможем собрать для Вас новый тариф, который будет
                применен только к Вашему сайту!</p>
            <a href="#forma_zvonok" bs-action-type="feedback" bs-form-success="" bs-form-error="" class="btn-podrobnee fancybox" bs-form-description="Баннер. Хостинг и домены">Узнать подробнее</a>
        </div>
    </div>
</div>
<div class="banner banner_domains-and-hosting banner_small">
    <div class="container">
        <div class="banner_content">
            <h2>Хостинг <span class="red">&</span> Домены</h2>
            <p><span class="red">Домен</span> - имя Вашего сайта в Интернете по которому он доступен. Например,www.ваше_имя.ru </p>
            <p><span class="red">Хостинг</span> - это услуга по предоставлению свободного пространства на жестком диске сервера для размещения Вашего сайта в Интернете. </p>
            <p>Мы предоставляем услуги по регистрации доменных имен, а также услуги аренды сервера по привлекательным ценам с различной конфигурацией. </p>
            <p>Мы подобрали для Вас тарифы, которые могут удовлетворить потребностям любого клиента! Если Вы не подобрали для себя нужную конфигурацию, мы поможем собрать для Вас новый тариф, который будет применен только к Вашему сайту!</p>
            <a href="#forma_zvonok" bs-action-type="feedback" bs-form-success="" bs-form-error="" class="btn-podrobnee fancybox" bs-form-description="Баннер. Хостинг и домены">Узнать подробнее</a>
        </div>
    </div>
</div>
