<div class="banner banner_site-in-installments banner_big" style="background: #B4C8D7  url({{ asset('assets/img/banners/mini_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Сайт в рассрочку</h2>
            <p>Получаете прибыль с сайта - постепенно<br>оплачиваете рассрочку<br><br></p>
            <p>Мы рады сообщить Вам приятную новость!</p>
            <p>Теперь у нас можно заказать сайт в рассрочку без первоначального взноса. Стоимость Вашего сайта окупится уже в первые месяцы пребывания в сети!<br><br></p>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Сайт в рассрочку">Узнать подробнее</a>
        </div>
    </div>
</div>
<div class="banner banner_site-in-installments banner_small">  
	<div class="container">
	  	<div class="banner_content">
			<h2>Сайт в рассрочку</h2>
            <p>Получаете прибыль с сайта - постепенно<br>оплачиваете рассрочку<br><br></p>
            <p>Мы рады сообщить Вам приятную новость!</p>
            <p>Теперь у нас можно заказать сайт в рассрочку без первоначального взноса. Стоимость Вашего сайта окупится уже в первые месяцы пребывания в сети!<br><br></p>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Сайт в рассрочку">Узнать подробнее</a>
		</div>
	</div>
</div>