<div class="banner banner_landing-page banner_big" style="background: url({{ asset('assets/img/banners/landing-page_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">  
    <div class="container">
        <div class="banner_content">
            <h2>Landing-page <span class="sm">от</span> {{ parameters_config_prices.landing_text }} <span class="sm">руб.</span></h2>  
            <li>Старт Вашего сайта от <span class="red">1 дня</span></li>
            <li>Низкая стоимость за счёт готовых решиний</li>
            <li>Гарантия, поддержка и консультация бесплатно</li>
            <li>Предоставим скидку до <span class="red">50%</span> при заказе продвижения</li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Landing-page">Получить консультацию</a>              
        </div>
    </div>
</div>
<div class="banner banner_landing-page banner_small">  
    <div class="container">
        <div class="banner_content">
            <h2>Landing-page <span class="sm">от</span> {{ parameters_config_prices.landing_text }} <span class="sm">руб.</span></h2>  
            <li>Старт Вашего сайта от <span class="red">1 дня</span></li>
            <li>Низкая стоимость за счёт готовых решиний</li>
            <li>Гарантия, поддержка и консультация бесплатно</li>
            <li>Предоставим скидку до <span class="red">50%</span> при заказе продвижения</li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Landing-page">Получить консультацию</a>                   
        </div>
    </div>
</div>  