<!--~~~~~~~~~~~~~~~~~banner~~~~~~~~~~~~~~~~~-->
<div class="banner banner_home banner_big"
     style="background: url({{ asset('assets/img/banners/home_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Скидки до 50% на сайты</h2>
					<p>Специальное предложение для всех клиентов нашей студии! </p>
	       			<p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
					и заказываете его продвижение;</p>
	        		<p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
					скидка до 50% на его разработку;</p>
	        		<p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
					<p>Мы можем начать с отрисовки прототипа Вашего сайта совершенно бесплатно, или пригласить на чашечку кофе в один из наших офисов!</p>
            		<a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Главная страница">Давайте знакомиться?</a>
        </div>
    </div>
</div>
<div class="banner banner_home banner_small">
	    	<div class="container">
	        	<div class="banner_content">
	        		<h2>Скидки до 50% на сайты</h2>
					<p>Специальное предложение для всех клиентов нашей студии! </p>
	       			<p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
					и заказываете его продвижение;</p>
	        		<p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
					скидка до 50% на его разработку;</p>
	        		<p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
					<p>Мы можем начать с отрисовки прототипа Вашего сайта совершенно бесплатно, или пригласить на чашечку кофе в один из наших офисов!</p>
            		<a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Главная страница">Давайте знакомиться?</a>
	        	</div>
	        </div>
	    </div>
<!--~~~~~~~~~~~~~~~~~/banner~~~~~~~~~~~~~~~~~-->