<div class="banner banner_payment banner_big" style="background: #B4C8D7 url({{ asset('assets/img/banners/payment.jpg')|imagine_filter('main_slider') }}) top no-repeat;">         
    <div class="container">
        <div class="banner_content">
            <h2>Способы оплаты</h2>
            <p>Оплатить услуги нашей компании можно дистанционно с помощью любых банковских карт, электронных денег и чрез любой российский банк по реквезитпм, указанным ниже.</p>
            <p>При оплате, пожалуйста, указывайте ФИО (или наименование организации) и услугу, которую оплачиваете. При необходимости для скоерйшего зачисления денежных средств пришлит подтверждение оплаты (принт-скрин или копию платежного поручения) на support@colornew.ru</p>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Способы оплаты">Получить консультацию</a>
        </div>
    </div>
</div>
<div class="banner banner_payment banner_small">
    <div class="container">
        <div class="banner_content">
            <h2>Способы оплаты</h2>
            <p>Оплатить услуги нашей компании можно дистанционно с помощью любых банковских карт, электронных денег и чрез любой российский банк по реквезитпм, указанным ниже.</p>
            <p>При оплате, пожалуйста, указывайте ФИО (или наименование организации) и услугу, которую оплачиваете. При необходимости для скоерйшего зачисления денежных средств пришлит подтверждение оплаты (принт-скрин или копию платежного поручения) на support@colornew.ru</p>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action-type="feedback" bs-form-success="" bs-form-error="" bs-form-description="Баннер. Способы оплаты">Получить консультацию</a>
        </div>
    </div>
</div>