
<div class="banner banner_internet-magazin banner_big" style="background: #B4C8D7  url({{ asset('assets/img/banners/internet-magazin_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Интернет-магазин <span class="sm">от</span> {{ parameters_config_prices.shop_text }} <span class="sm">руб.</span></h2>
            <li>Старт Вашего сайта от <span class="red">1 дня</span></li>
            <li>Низкая стоимость за счёт готовых решиний</li>
            <li>Гарантия, поддержка и консультация бесплатно</li>
            <li>Предоставим скидку до <span class="red">50%</span> при заказе продвижения</li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Интернет-магазин">Получить консультацию</a>
        </div>
    </div>
</div>
<div class="banner banner_internet-magazin banner_small">  
    <div class="container">
        <div class="banner_content">
            <h2>Интернет-магазин <span class="sm">от</span> {{ parameters_config_prices.shop_text }} <span class="sm">руб.</span></h2>
            <li>Старт Вашего сайта от <span class="red">1 дня</span></li>
            <li>Низкая стоимость за счёт готовых решиний</li>
            <li>Гарантия, поддержка и консультация бесплатно</li>
            <li>Предоставим скидку до <span class="red">50%</span> при заказе продвижения</li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Интернет-магазин">Получить консультацию</a>                 
        </div>
    </div>
</div>     