<div class="banner banner_social-networks banner_big" style="background: #B4C8D7 url({{ asset('assets/img/banners/social-networks_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">
    <div class="container">
        <div class="banner_content">
            <h2>Продвижение в соц. сетях</h2>
            <li>С помощью контекстной рекламы в интернете Вы сможете получать первых посетителей на сайт уже
                сегодня!
            </li>
            <li>Контекстная реклама позволяет вывести сайт на первые строчки поисковых систем с оплатой "по факту"
            </li>
            <li>Вы платите только за тех пользователей, которые реально перешли на Ваш сайт, показ объявления при
                этом бесплатный.
            </li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Продвижение в соц. сетях">Узнать подробнее</a>
        </div>
    </div>
</div>
<div class="banner banner_social-networks banner_small">
    <div class="container">
        <div class="banner_content">
            <h2>Продвижение в соц. сетях</h2>
            <li>С помощью контекстной рекламы в интернете Вы сможете получать первых посетителей на сайт уже
                сегодня!
            </li>
            <li>Контекстная реклама позволяет вывести сайт на первые строчки поисковых систем с оплатой "по факту"
            </li>
            <li>Вы платите только за тех пользователей, которые реально перешли на Ваш сайт, показ объявления при
                этом бесплатный.
            </li>
            <a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Продвижение в соц. сетях">Узнать подробнее</a>
        </div>
    </div>
</div>