<div class="banner banner_support-of-sites banner_big" style="background: #B4C8D7  url({{ asset('assets/img/banners/support-of-sites_colornew.jpg')|imagine_filter('main_slider') }}) top no-repeat;">        	
	<div class="container">
    	<div class="banner_content">
    		<h2>Поддержка сайтов</h2>
    		<p>Веб-студия «ColorNew» осуществляет поддержку и техническое обслуживание сайтов. Очень важно обновлять сайт новым контентом, статьями, фотографиями, дорабатывать функционал, обновлять разделы для того, чтобы сайт жил, а Ваш бизнес развивался.</p>
    		<li>Стоимость наших услуг определяется трудо-часами работы специалистов над Вашим проектом и оплачивается по факту обращения. </li>
    		<li>У нас нет абонентской платы, оценка работ производится по факту обращения. Мы считаем ,что это самый правильный и честный подход по отношению к клиенту.</li>
    		<a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Поддержка сайтов">Узнать подробнее</a>
    	</div>
    </div>
</div>
<div class="banner banner_support-of-sites banner_small">
	<div class="container">
	    <div class="banner_content">
			<h2>Поддержка сайтов</h2>
    		<p>Веб-студия «ColorNew» осуществляет поддержку и техническое обслуживание сайтов. Очень важно обновлять сайт новым контентом, статьями, фотографиями, дорабатывать функционал, обновлять разделы для того, чтобы сайт жил, а Ваш бизнес развивался.</p>
    		<li>Стоимость наших услуг определяется трудо-часами работы специалистов над Вашим проектом и оплачивается по факту обращения. </li>
    		<li>У нас нет абонентской платы, оценка работ производится по факту обращения. Мы считаем ,что это самый правильный и честный подход по отношению к клиенту.</li>
    		<a href="#forma_zvonok" class="btn-podrobnee fancybox" bs-action="feedback" bs-form-description="Баннер. Поддержка сайтов">Узнать подробнее</a>
	    </div>
	</div>
</div>