<div style="display:none;" id="forma_order_domain" class="forma modal_zvonok">
    <form class="feed_call_form" bs-action-path="{{ path('feed_order_domain') }}"  bs-form-type="order_domain">
        <p>Доменное имя: <span id="modalOrderDomain" name="ref_value"></span> <br>
        Заполните форму быстрой регистрации:</p>
        <input type="text" placeholder="Ваше имя" name="name" required>
        <input type="tel" class="phone_input" placeholder="Телефон" name="tel" required>
        <input type="email" placeholder="Электронная почта" name="email">
        <input type="hidden" class="hide" name="ref" bs-id="form-reference" />
        <input type="hidden" class="hide" name="ref_description" bs-id="form-reference-description" />
        <input type="hidden" class="hide" name="ref_value" bs-id="form-reference-value" />
        <p>
            Ваши данные не будут переданы третьим лицам.
        </p>
        <a href="{{path('page_display', {slug:'confidentiality'})}}" class="politica" target="_blank">Политика конфиденциальности</a>
        <input id="submitOrderDomainBtn" type="submit" data-loading-text="Отправляется запрос" bs-form-success="Ваша заявка принята. Мы свяжемся с Вами!" bs-form-error="Ошибка при выполнение запроса. Попробуйте позже" class="btn-dashed" value="Отправить">
    </form>
</div>