{% extends 'default/index.html.twig' %}
    {% block meta %}
	<title>Сайты на 1С Битрикс - ColorNew Интернет Студия</title>
        <meta charset="utf-8">
        <meta name="description" content="1C Битрикс "/>
        <meta name="robots" content="index, follow">
        <meta name="language" content="Russian">
    {% endblock meta %}
{% block content %}
<div class="banner banner_clouds"> 
    <div class="banner_content"></div>
</div>
<div class="container">
    <div class="">
        <div class="container">
            <!-- Module sites -->
            <div class="container" role="tabpanel">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="text-page">
                            <h2>Сайты на 1С Битрикс</h2>

<p>Мы разрабатываем сайты на разных системах управления, включая 1С-Битрикс. Преимущество этой системы управления описано в данной статье. </p>
<p>Несколько задач, когда следует купить 1С-Битрикс и заказать сайт на 1С-Битрикс: </p>
<ol>
<li> У Вас планируется нестандартный функционал сайта, требующий детальной проработки; 
<li> На Вашем сайте будет реализована большая структура и расширяемый каталог товаров (или услуг); 
<li> На Вашем сайте планируется сервис для приема заявок с online оплатой; 
<li> На Вашем сайте планируется разделение пользователей (или создание разных групп пользователей) с разными правами; 
<li> Ваш сайт планируется с высокой степенью посещаемости и нагрузки; 
<li> Вам хочется очень удобную систему управления и администрирования, при этом не зависеть от разработчиков сайта; 
<li> Вам хочется безопасную систему управления с высокой степенью шифрования и защиты данных. 
</ol>
<p>Если хотя бы один из пунктов совпадает с Вашими требованиями, Вам точно нужно заказать создание сайта на 1С-Битрикс!</p>
<p>- Создание сайта 1С-Битрикс позволит Вам воплотить в проект любые пожелания и не ограничивать себя в функционале. </p>
<p>- Заказав создание сайта на 1С-Битрикс, Вы будете пользоваться двухсторонней технической поддержкой – как со стороны разработчиков, так и со стороны компании 1С-Битрикс. </p>
<p>- На 1С-Битрикс реализована легкая интеграция с 1С в один клик! Вам будет очень просто связать каталог созданной базы на Вашем компьютере с сайтом! </p>
<p>- Огромное количество готовых решений: 1C-Битрикс для городских, медицинских, образовательных учреждений, а также пакеты 1С-Битрикс управления бизнесом в виде CRM-системы и корпоративные сайты. </p>
<p>- Удобное резервирование сайта (бекап) на сервер Битрикса позволит всегда хранить копию сайта «на всякий случай», а купленная лицензия на Ваше имя позволит в любой момент восстановить доступы к сайту, если даже логин и пароль утеряны. </p>

<p>1С-Битрикс специально разработал несколько готовых систем управления: 1С-Битрикс старт, стандарт, малый бизнес, эксперт. Мы поможем определиться с редакцией, которая нужна именно Вам, а также разработаем для Вас сайт на одной из самых удобных и безопасных системах управления – 1С-Битрикс! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}