{% extends 'default/index.html.twig' %}
{% block meta %}
    <title>Индивидуальные проекты - ColorNew Интернет Студия</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russian">
{% endblock meta %}
{% block content %}
<div class="banner banner_clouds"> 
    <div class="banner_content"></div>
</div>
<div class="container">
    <div class="">
        <div class="container">
            <!-- Module sites -->
            <div class="container" role="tabpanel">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="text-page">
                            <h2>Индивидуальные проекты</h2>
                            <p>Продвижение (раскрутка) групп в социальных сетях &ndash; ВКонтакте (вк), Facebook, Одноклассники необходима для лояльности аудитории к Вашему бренду (товарам или услугам).</p>
                            <p>Около 30% трафика на наш сайт приходит благодаря продвижунию группы в соц.сетях.</p>
                            <p>В социальные сети заходят 80% пользщователей интернета. Люди пользуются соц. сетями дома, на работе, в транспорте.</p>
                            <p>Раскрутка групп в соц.сетях позволяет выделить нужную Вам аудиторию (по полу, возрасту, региону, семейному положению).</p>
                            <p>Приведем небольшой пример раскрутки группы:<br>Группа имеет 2000 порльзователей, из них 70 человек перейдут на сайт, десять из перешедших заполнят заявку на сайте, либо позвонят, трое из обратившихся станут Вашими клиентами!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}